# Standard C# .gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio Indexing
FileContentIndex/